[v-cloak] {
    display: none;
}

.highcharts-title {
    font-weight: bold;
}

.tasks_progress {
    width: 3rem;
    margin-right: 1rem;
    height: 1.5rem;
}

.tooltip {
    float: right;
    margin-left: 10px;
}

.sortOnClick {
  cursor: pointer;
}

.globalSearch {
    margin: 1rem 0 1.2rem;
}
.globalSearch label {
    display: inline-block;
    margin-right: 1rem;
}

.a-pie { 
    display: inline-block;
}
